body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    background-color: #f0f0f0;
}

.left img {
    max-width: 100px;
    height: auto;
    border-radius: 20px;
    margin-left: 200px;    
}

.left h1 {
    margin-top: 10px;
    margin-left: 200px;
}

.right ul {
    list-style: none;
    padding: 0;
    margin-right: 700px;
}


.content {
    display: flex;
    margin-left: 200px;
}


.formacao{
    margin-left: 200px;
}

.idiomas{
    margin-left: 400px;
}

h2 {
    margin-top: 20px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

table,td{
    border: 1px solid black;
    width: 400px;
    padding: 2px;
    border-collapse: collapse;
}


.idiomas{    
    margin-left: 200px;
}

h2{
    background-color: rgba(88, 88, 255, 0.455);
    width: 300px;
}

hr{
    margin-left: 50px;
    width: 80%;
}